.time {
    position: absolute;
    top: 0%;
    left: 56.05%;
    letter-spacing: -0.3px;
    font-weight: 900;
}
.border1 {
    position: absolute;
    height: 1.69%;
    width: 2.98%;
    top: 0.5%;
    right: 0.32%;
    bottom: 97.81%;
    left: 96.71%;
    border-radius: 2.67px;
    border: 1px solid #fff;
    box-sizing: border-box;
    opacity: 0.35;
    mix-blend-mode: normal;
}
.capIcon1 {
    position: absolute;
    height: 0.6%;
    width: 0.18%;
    top: 1.04%;
    right: 0%;
    bottom: 98.36%;
    left: 99.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.4;
    mix-blend-mode: normal;
}
.capacity1 {
    position: absolute;
    height: 1.09%;
    width: 2.44%;
    top: 0.79%;
    right: 0.59%;
    bottom: 98.11%;
    left: 96.98%;
    border-radius: 1.33px;
    background-color: #fff;
}
.groupChild {
    position: absolute;
    height: 7.9%;
    width: 40.21%;
    top: 92.1%;
    right: 59.79%;
    bottom: 0%;
    left: 0%;
    border-radius: 15px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.wifiPathIcon3 {
    position: absolute;
    height: 0.71%;
    width: 2.08%;
    top: 0.5%;
    right: 3.97%;
    bottom: 98.79%;
    left: 93.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.wifiPathIcon4 {
    position: absolute;
    height: 0.54%;
    width: 1.35%;
    top: 1.06%;
    right: 4.33%;
    bottom: 98.39%;
    left: 94.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.wifiPathIcon5 {
    position: absolute;
    height: 0.5%;
    width: 0.63%;
    top: 1.63%;
    right: 4.69%;
    bottom: 97.86%;
    left: 94.68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.cellularConnectionPathIcon4 {
    position: absolute;
    height: 0.6%;
    width: 0.41%;
    top: 1.54%;
    right: 8.62%;
    bottom: 97.86%;
    left: 90.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.cellularConnectionPathIcon5 {
    position: absolute;
    height: 0.89%;
    width: 0.41%;
    top: 1.24%;
    right: 7.99%;
    bottom: 97.86%;
    left: 91.61%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.cellularConnectionPathIcon6 {
    position: absolute;
    height: 1.24%;
    width: 0.41%;
    top: 0.89%;
    right: 7.35%;
    bottom: 97.86%;
    left: 92.24%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.cellularConnectionPathIcon7 {
    position: absolute;
    height: 1.59%;
    width: 0.41%;
    top: 0.55%;
    right: 6.72%;
    bottom: 97.86%;
    left: 92.87%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.timeParent {
    position: absolute;
    height: 82.64%;
    width: 196.98%;
    top: 1.97%;
    right: 7.02%;
    bottom: 15.39%;
    left: -104%;
    font-size: 15px;
    font-family: Nunito;
}
.span {
    background: linear-gradient(180deg, #2975cf, #73d7d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.potential {
    font-weight: 600;
}
.potentialGrowthWithContainer {
    position: absolute;
    height: 9.11%;
    width: 63.47%;
    top: 16.26%;
    left: 6.67%;
    font-size: 25px;
    letter-spacing: -0.3px;
    text-align: left;
    display: inline-block;
}
.groupItem {
    position: absolute;
    height: 100%;
    width: 39.13%;
    top: 0%;
    right: 60.87%;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.morning {
    position: absolute;
    top: 0%;
    left: 53.04%;
    letter-spacing: -0.3px;
}
.rizkyAkbar {
    position: absolute;
    top: 22%;
    left: 53.04%;
    font-size: 10px;
    letter-spacing: -0.3px;
    font-weight: 600;
}
.ellipseParent {
    position: absolute;
    height: 6.16%;
    width: 30.67%;
    top: 8.87%;
    right: 63.73%;
    bottom: 84.98%;
    left: 5.6%;
    font-size: 8px;
}
.groupInner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 15px;
    background-color: #32343e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.videoCreation {
    position: absolute;
    width: 37.72%;
    top: 52.45%;
    left: 31.14%;
    letter-spacing: -0.3px;
    font-weight: 600;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.fluentvideoAdd24RegularIcon1 {
    position: absolute;
    height: 27.97%;
    width: 23.95%;
    top: 22.38%;
    right: 36.53%;
    bottom: 49.65%;
    left: 39.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.rectangleParent {
    position: absolute;
    height: 17.61%;
    width: 44.53%;
    top: 28.57%;
    right: 4%;
    bottom: 53.82%;
    left: 51.47%;
}
.contentMarketing {
    position: absolute;
    width: 41.92%;
    top: 52.45%;
    left: 29.34%;
    letter-spacing: -0.3px;
    font-weight: 600;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.groupIcon3 {
    position: absolute;
    height: 22.38%;
    width: 19.16%;
    top: 27.97%;
    right: 40.12%;
    bottom: 49.65%;
    left: 40.72%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.rectangleGroup {
    position: absolute;
    height: 17.61%;
    width: 44.53%;
    top: 28.57%;
    right: 51.2%;
    bottom: 53.82%;
    left: 4.27%;
}
.analyticsSoftware {
    position: absolute;
    width: 43.71%;
    top: 48.25%;
    left: 28.14%;
    letter-spacing: -0.3px;
    font-weight: 600;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.carbonanalyticsIcon1 {
    position: absolute;
    height: 22.38%;
    width: 19.16%;
    top: 23.78%;
    right: 41.92%;
    bottom: 53.85%;
    left: 38.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.rectangleContainer {
    position: absolute;
    height: 17.61%;
    width: 44.53%;
    top: 47.41%;
    right: 51.2%;
    bottom: 34.98%;
    left: 4.27%;
}
.socialMediaAdvertising1 {
    position: absolute;
    width: 49.7%;
    top: 48.25%;
    left: 26.35%;
    letter-spacing: -0.3px;
    font-weight: 600;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.biphoneIcon1 {
    position: absolute;
    height: 22.38%;
    width: 19.16%;
    top: 23.78%;
    right: 40.72%;
    bottom: 53.85%;
    left: 40.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupDiv {
    position: absolute;
    height: 17.61%;
    width: 44.53%;
    top: 47.41%;
    right: 4%;
    bottom: 34.98%;
    left: 51.47%;
}
.groupChild3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 15px;
    background: linear-gradient(180deg, #2975cf, #73d7d7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.unlockTheFull1 {
    position: absolute;
    height: 11.76%;
    width: 51.82%;
    top: 43.7%;
    left: 9.8%;
    letter-spacing: -0.3px;
    font-weight: 600;
    display: inline-block;
}
.premium {
    position: absolute;
    top: 18.49%;
    left: 9.8%;
    font-size: 18px;
    letter-spacing: -0.3px;
    background: linear-gradient(180deg, #f2ffbd, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.akarIconscrown1 {
    position: absolute;
    height: 16.81%;
    width: 5.6%;
    top: 21.01%;
    right: 60.22%;
    bottom: 62.18%;
    left: 34.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupChild4 {
    position: absolute;
    height: 21.01%;
    width: 19.61%;
    top: 51.26%;
    right: 5.88%;
    bottom: 27.73%;
    left: 74.51%;
    border-radius: 25px;
    background-color: #f2ffbd;
}
.unlock {
    position: absolute;
    top: 56.3%;
    left: 79.55%;
    font-size: 10px;
    letter-spacing: -0.3px;
    color: #000;
}
.rectangleParent1 {
    position: absolute;
    height: 14.66%;
    width: 95.2%;
    top: 70.69%;
    right: 2.4%;
    bottom: 14.66%;
    left: 2.4%;
    text-align: left;
    font-size: 14px;
}
.child {
    position: absolute;
    height: 4.93%;
    width: 10.67%;
    top: 7.76%;
    right: 21.07%;
    bottom: 87.32%;
    left: 68.27%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.item {
    position: absolute;
    height: 4.93%;
    width: 10.67%;
    top: 7.76%;
    right: 7.73%;
    bottom: 87.32%;
    left: 81.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.div {
    position: relative;
    border-radius: 25px;
    background-color: #1c1c20;
    width: 100%;
    height: 812px;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-family: 'Open Sans';
}

